.navbar__link_social {
    line-height: 18px;
    text-transform: lowercase;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
  .navbar__link_social {
    font-size: 14px;
  }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1098px) {
  .navbar__link_social {
    font-size: 12px;
  }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:860px) {
  .navbar__link_social {
    font-size: 10px;
  }
}