$text: #242424;

.page {
    margin: 0 auto;
    font-family: 'Formular', 'Times New Roman', Times, serif;
    font-style: normal;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    max-width: 1440px;
}

/* Медиа-запрос для ширины 1280px*/
@media all and (max-width:1439px) {
    .page {
        max-width: 100%;
    }
}
