.header__navbar-mobile-back-title {
    margin: 9px 5px 9px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    text-transform: uppercase;
}