.header__navbar-donation-link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #242424;
    text-decoration: none;
}



/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
  
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1098px) {
  .header__navbar-donation-link {
    font-size: 12px;
  }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:860px) {
  .header__navbar-donation-link {
    font-size: 10px;
  }
}