.header__navbar-section-social {
    padding: 0 5px 0 5px;
    border-right: 1px solid #242424;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:859px) {
  .header__navbar-section-social {
    padding: 0;
  }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .header__navbar-section-social {
    display: none;
  }
}
