.header__navbar-section-social {
    padding: 0 5px 0 5px;
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
}

.header__navbar-section-social::after {
  content: "";
  width: 0px;
  height: 50px;
  border: 1px solid #242424;
  left: -6px;
  position: absolute;
}

.header__navbar-section-social::before {
  content: "";
  width: 0px;
  height: 50px;
  border: 1px solid #242424;
  right: -6px;
  position: absolute;
} 



/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:859px) {
  .header__navbar-section-social {
    padding: 0;
  }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .header__navbar-section-social {
    display: none;
  }
}
