@import "../../pages/variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__line {
    width: 1px;
    height: 100%;
    background-color: $text;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .navbar{
        min-height: 50px;
        /* margin: 15px 0 11px 0;
        justify-content: flex-start; */
    }
    .navbar__line {
        display: none;
    }
}