.persons__section {
    display: grid;
    max-width: 930px;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 30px;
    list-style: none;
    margin: 16px auto 112px;
    padding: 0;
    justify-content: center;
}