.performance__title-special {
    display: none;
}

@media (max-width: 960px) {
    .performance__title-special {
        display: block;
        margin: 0 auto;
        max-width: 366px;

    }
}

@media (max-width: 380px) {
    .performance__title-special {
        margin: 0 15px;
    }
}