@import "../../../pages/variables.scss";

.youtube__button {
    width: 298px;
    height: 56px;
    background-color: transparent;
    border: 1px solid $text;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: $text;
    box-sizing: border-box;
    position: relative;
}

.youtube__button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 56px;
    background-color: $text;
    transition: all 0.5s ease;
}

.youtube__button:hover:before {
    width: 100%;
}

.youtube__button-text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.38;
    margin: 0;
}

.youtube__button:hover .youtube__button-text,.youtube__button-arrow {
    color: $white;
    z-index: 1;
}

.youtube__button:hover path{
    fill: $white;
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width: 1279px) {
    .youtube__button {
        margin-top: 16px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width: 767px) {
    .youtube__button {
        max-width: 100%;
    }
}