.video__content {
  width: 716px;
  height: 402.75px;
}

@media screen and (max-width:1023px) {
  .video__content {
    width: 640px;
    height: 360px;
  }
}

@media screen and (max-width:600px) {
  .video__content {
    width: 366px;
    height: 206px;
  }
}
