.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 98px 0 0 0;
  max-width: calc(100% - 2*24px);
}

.three-video {
  padding: 48px 0 0 0;
}