.header__logo {
  width: 43px;
  height: 35px;
  margin: 0 30px 0 43px;
  }

  /* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .header__logo {
      height: 42px;
    }
  }