.header__navbar-menu-link {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    white-space: nowrap;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
  .header__navbar-menu-link {
    font-size: 14px;
  }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .header__navbar-menu-link {
        font-size: 12px;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  
}