.header {
  display: flex;
  border-bottom: 1px solid #242424;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
  
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
  
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .header {
    border-bottom: 0;
  }
}