.header {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .header {
    border-bottom: none; 
  }
}
