.performance__section_for-three-elements {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1439px) and (min-width: 961px) {
    .performance__section_for-three-elements {
        grid-template-columns: repeat(2, 480px);
    }
}

@media (max-width: 960px) {
    .performance__section_for-three-elements {
        grid-template-columns: 480px;
        gap: 0;
        margin-top: 2px;
    }
}

@media (max-width: 480px) {
    .performance__section_for-three-elements {
        grid-template-columns: 1fr;
        gap: 0;
    }
}