.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.plays__swiper-button {
    display: none;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../../images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 66px);
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    rotate: 180deg;
}

/* Медиа-запрос для ширины 1280px*/
@media screen and (max-width:1480px) {
    .plays__swiper-button {
        display: block;
    }
}