.video__title {
  width: 568px;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #242424;
  text-align: start;
  padding: 0;
  margin: 0 0 37px -148px;    
}

@media screen and (max-width:1023px) {
  .video__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: -72px;
  }
}

@media screen and (max-width:767px) {
  .video__title {
    font-size: 28px;
    line-height: 32px;
    width: 366px;
    margin-bottom: 32px;
    margin-left: 0;
  }
}