@font-face {
    font-family: 'Formular';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("formular-light.woff2") format("woff2"),
         url("formular-light.woff") format("woff");
  }

  @font-face {
    font-family: 'Neue Machina';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("PPNeueMachina-Regular.woff2") format("woff2"),
         url("PPNeueMachina-Regular.woff") format("woff");
  }