.performance__section {
    list-style: none;
    margin: 75px auto 0;
    padding: 0;
    display: grid;
    justify-content: center;
    row-gap: 100px;
    grid-template-columns: repeat(auto-fit, 470px);
}
@media all and (max-width: 960px) {
    .performance__section {
        gap: 0;
        margin-top: 34px;
    }
}

@media all and (max-width: 767px) {
    .performance__section {
        /* margin-top: 34px; */
    }
}

@media all and (max-width: 480px) {
    .performance__section {
        grid-template-columns: minmax(320px, 1fr);
    }
}