.play__links {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.38px;
    color: inherit;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.play__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;
    height: 56px;
    width: 100%;
    border-top: 1px solid #242424;
    background: #B7C09D;
    padding: 0 16px 0;
    box-sizing: border-box;
}

.play__link-text {
    display: block;
}

.play__link-arrow-dioganal {
    rotate: -45deg;
}

.play__link-arrow-down {
    rotate: 90deg;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .play__links {
        display: block;
    }
}