.play__links {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.38px;
    color: inherit;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}



/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .play__links {
        display: block;
    }
}