.youtube__content {
    display: flex;
    flex-direction: row;
    margin-left: 362px;
    align-items: center;
}

/* Медиа-запрос для ширины 1280px*/
@media screen and (max-width: 1439px) {
    .youtube__content {
        margin-left: 25%;
    }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width: 1279px) {
    .youtube__content {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width: 767px) {
    .youtube__content {
        margin-left: 87px;
        margin-right: 24px;
    }
}