.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .header__navbar{
        margin: 15px 0 11px 0;
        justify-content: flex-start;
    }
}