.youtube__subtitle {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    max-width: 410px;
    padding-right: 100px;
    margin: 0;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width: 767px) {
    .youtube__subtitle {
        padding-right: 0;
    }
}