$text: #242424;
$background-green: #B7C09D;

.play__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;
    height: 56px;
    width: 100%;
    border-top: 1px solid $text;
    background: $background-green;
    padding: 0 16px 0;
    box-sizing: border-box;
}

.play__link:hover {
    color: #E5E5E5;

}

.play__link-arrow-dioganal {
    rotate: -45deg;
}

.play__link-arrow-down {
    rotate: 90deg;
}