.header__navbar-social-link {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #242424;
    text-transform: lowercase;
    text-decoration: none;
    display: flex;
}

.header__navbar-social-link::before, .header__navbar-social-link::after {
  display: block;
    width: 0.6em;
    height: 1.6em;
    box-sizing: border-box;
    border: 0.0625rem solid;
    content: "";
    visibility: hidden;

}

.header__navbar-social-link::before {
  border-right: 0;
  border-bottom-left-radius: 200% 100%;
  border-top-left-radius: 200% 100%;
}

.header__navbar-social-link::after {
  border-left: 0;
  border-bottom-right-radius: 200% 100%;
  border-top-right-radius: 200% 100%;
}


.header__navbar-social-link:hover:after, .header__navbar-social-link:hover:before {
  visibility: visible;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
  .header__navbar-social-link {
    font-size: 14px;
  }
}

/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1098px) {
    .header__navbar-social-link {
        font-size: 12px;
      }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:860px) {
  .header__navbar-social-link {
    font-size: 10px;
  }
}