.header__navbar-social-link {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #242424;
    text-transform: lowercase;
    text-decoration: none;
}