.navbar__burger {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  display: none;
  height: 60px;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .navbar__burger {
    display: block;
  }
}