@media (max-width: 1439px) and (min-width: 961px) {
    .performance__item_one-of-the-three:nth-child(2n) {
        border-right: none;
    }

    .performance__item_one-of-the-three:nth-child(3n) {
        border-right: 1px solid #242424;
    }
}

@media (max-width: 960px) {
    .performance__item_one-of-the-three {
        max-width: 100%;
        border-right: none;
        border-bottom: 1px solid #242424;
        padding: 32px 25px;
    }
}

@media (max-width: 380px) {
    .performance__item_one-of-the-three {
        column-gap: 15px;
        padding: 20px 15px;
        min-width: 320px;
    }
}