.header__navbar-section-menu {
    padding: 0 29px 0 0;
    border-right: 1px solid #242424;
}

/* Медиа-запрос для ширины 1024px*/
@media screen and (max-width:1279px) {
    .header__navbar-section-menu {
        padding: 0 15px 0 0;
    }
}
    
/* Медиа-запрос для ширины 768px*/
@media screen and (max-width:1023px) {
    .header__navbar-section-menu {
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width:950px) {
    .header__navbar-section-menu {
        padding: 0 5px 0 0;
    }
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:859px) {
    .header__navbar-section-social {
      padding: 0;
    }
  }

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
  .header__navbar-section-menu {
    display: none;
  }
}