.performance_one-performance {
    display: grid;
    grid-template-columns: 450px 480px;
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1439px) {
    .performance_one-performance {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 34px;
    }
}

@media (max-width: 960px) {
    .performance_one-performance {
        display: none;
    }
}