.performance_amount_one {
    display: grid;
    grid-template-columns: 450px 480px;
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1023px) {
    .performance_amount_one {
        grid-template-columns: 1fr;
        /* grid-template-rows: 2fr; */
        gap: 0;
    }
}

@media (max-width: 960px) {
    .performance_amount_one {
        display: none;
    }
}