.footer {
  padding-top: 42px;
  padding-bottom: 54px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "logo partners partners partners partners"
    ". address navigation about projects"
    ". lubimovka lubimovka design yandex";
  grid-template-columns: 13% 1fr 15% 15% 20%;
  margin: 0 auto;
  max-width: calc(100% - 2*30px);
  border: 1px solid red;
}

.logo_place_footer {
  grid-area: logo;
}

.footer__partners {
  grid-area: partners;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: row;
  border: 1px solid red;
}

.footer__partners-title {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
}

.footer__partner-text {
  display: none;
}

.footer__address {
  grid-area: address;
  border: 1px solid red;
}

.footer__address-title {
  margin: 0;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.footer__address-location {
  margin: 8px 0 0;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  border: 1px solid red;
}

.footer__navigation {
  grid-area: navigation;
}

.footer__about {
  grid-area: about;
}

.footer__projects {
  grid-area: projects;
}

.footer__list-item {
  text-decoration: none;
  color: #242424;
}

.footer__link {
  display: flex;
  flex-direction: row;
  color: #242424;
  text-decoration: none;
  margin-top: 49px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
}

.footer__lubimovka-links {
  grid-area: lubimovka;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.footer__design {
  grid-area: design;
}

.footer__design-img {
  width: 27px;
  height: 25px;
  align-self: flex-start;
}

.footer__design-text {
  margin: 0;
}

.footer__yandex {
  grid-area: yandex;
}

@media screen and (max-width: 1279px) {
  .footer {
    grid-template-columns: 13% 1fr 20% 20% 20%;
  }
}

@media (max-width: 1023px) {
  .footer {
    /* padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px; */
  }
}

@media (max-width: 767px) {
  .footer {
    /* padding-left: 16px;
    padding-right: 55px;
    flex-direction: column;
    padding-top: 64px; */
  }
}

