.performance__title-for-one {
    margin: 0;
    max-width: 450px;
}

@media (max-width: 1439px) and (min-width: 961px) {
    .performance__title-for-one {
        margin-left: 25%;
        /* margin: 0 0 0 25%; */
        max-width: 400px;
    }
}