.performance__title-for-one {
    margin: 0;
    max-width: 450px;
}

@media (max-width: 1439px) and (min-width: 961px) {
    .performance__title-for-one {
        margin: 0 auto;
        max-width: 400px;
        font-size: 34px;
        line-height: 36px;
    }
}

@media (max-width: 960px) {
    .performance__title-for-one {
        display: none;
    }
}