.performance__link {
    background: url(../../../images/performances/arrow.svg) no-repeat left center;
    display: block;
    width: 154px;
    height: 32px;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    padding: 9px 0 9px 29px;
    font-family: 'Formular', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
}

.performance__link:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 32px;
    background: #242424;
    transition: all 0.5s ease;
    z-index: -1;
}

.performance__link:hover:before {
    width: 100%;
}

.performance__link:last-child {
    margin-bottom: 0;
}

.performance__link:hover {
    color: #E5E5E5;
    background: url(../../../images/performances/arrow-hover.svg) no-repeat left center;
}

@media (max-width: 768px) {
    .performance__link {
        margin-bottom: 0;
    }
}
