.performance__item {
    border-right: 1px solid #242424;
    padding: 0 30px;
    box-sizing: border-box;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "image info"
      ". links";
    margin: 0 auto;
    width: 100%;
}

.performance__item:last-child {
    border-right: none;
}

@media (max-width: 960px) {
    .performance__item {
        grid-template-areas:
          "image info"
          "links links";
        padding: 32px 0;
        grid-template-columns: 92px 1fr;
        margin: 0 auto;
    }
}