.title {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #242424;
    max-width: 568px;
    margin: 0 0 0 362px;
}

.performance__title {
    margin: 0;
    max-width: 450px;
}

@media (max-width: 1280px) and (min-width: 769px) {
    .title {
        margin: 0 auto;
        max-width: 400px;
        font-size: 34px;
        line-height: 36px;
    }
}

@media (max-width: 768px) {
    .title {
        display: none;
    }
}
