.performance__image {
    width: 100%;
    height: 161px;
    object-fit: cover;
    grid-area: image;
}

@media (max-width: 768px) {
    .performance__image {
        height: 123px;
        width: 92px;
    }
}