.performance__date-time {
    display: flex;
    margin-bottom: 4px;
    font-family: 'Formular', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    color: #242424;
}

@media (max-width: 768px) {
    .performance__date-time {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}